body {
  margin: 0;
  display: flex;
  height: 100vh;
}

.info-container {
  padding: 1%;
  width: 20%;
  background-color: skyblue;
  color: black;
}

.game-container {
  width: 80%;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 400px;
}

.canvas {
  aspect-ratio: 4/3;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#self-canvas {
  z-index: 2;
}

#players-canvas {
  z-index: 1;
}

#map-canvas {
  background-color: white;
  z-index: 0;
}

#map-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.map-navigation-button {
  width: 45%;
}
